version: '3.8'
services:
  web:
    build: .
    volumes:
      - ./nfse-report-generator:/var/www/html
    ports:
      - "${PORT:-80}:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
